/*použitá písma:

text: Merriweather
hlavní nadpis: Raleway

barvy:

pozadi           #f5f5f5
dekorace nadpisů #629edb

3 verze layoutu, breakpointy odvoď podle citu:

nejužší verze
==============================
- všechno je pod sebou v jedné úzké nudli
- v menu jsou položky pod sebou, menu samotné je nad obsahem
- v galerii jsou všechny obrázky pod sebou
- popisky k obrázkům jsou vždy pod obrázkem (k těm v textu i k těm v galerii)


střední šířka okna
=======================================
- skoro všechno je pod sebou
- v menu jsou položky vedle sebe, menu samotné je nad obsahem
- v galerii jsou vždy 2 obrázky vedle sebe (obrázků je 9, vhodně vyřeš zobrazení lichého na konci)
- popisky k obrázkům v textu jsou uvnitř obrázku blízko k jeho pravému dolnímu rohu
- popisky k obrázkům v galerii jsou skryté a vyjíždějí při najetí myši


nejširší obrazovky
=======================================
- hlavička s obrázkem na pozadí je přes celou šířku stránky
- maximální šířka stránky je 960 px
- v menu jsou položky pod sebou, menu je omezené na úzký proužek a je vlevo od úvodního odstavce textu
- jednotlivé "sekce" se střídají: jednou vpravo a pak zase vlevo, aby web vypadal vizuálně zajímavě
- v galerii jsou vždy 3 obrázky vedle sebe
- popisky k obrázkům v textu jsou stejné jako pro střední šířky (uvnitř obrázku)
- popisky k obrázkům v galerii jsou stejné jako střední šířky (skryté + stejný efekt)
*/

html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}


body {
    font-family: 'Merriweather', serif;
    background-color: #f5f5f5;
    font-size: 0.8rem;
    line-height: 1.6; 
    max-width: 960px;
    margin: 0 auto;
}

.island {
    font-family: 'Merriweather', serif;
    background-color: #fff;
    box-shadow: lightgrey 1px 1px 8px;
}


/*---MOBIL---*/

    /*---hlavicka---*/

header {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(0,0,0,0.25)),
    url("images/island-hlavicka.jpg");
    background-size: cover;
    color:whitesmoke;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 1rem 2rem 2rem 2rem;
}

h1 {
    font-family: 'Raleway', sans-serif;
    margin: 0 0 1rem 0;
    font-size: 3rem;
}

header p {
    margin-bottom: 1.5rem;
}

.author {
    margin-top: 0.75rem;
}

.decoration {
    border-top: 2px solid lightgray;
    margin: 0 auto;
    width: 75px;
}

em {
    color: lightgrey;
    opacity: 0.9;
}


    /*---navigace---*/

ul {
    padding: 0;
    margin: 2.5rem 0 3.5rem 0;
    font-family: 'Raleway', sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
}

nav a {
    text-decoration: none;
    display: block; 
    color:#c5bebe;
    font-size: 0.8rem;
    font-weight: 400;
    text-shadow: 0 0 0.5px #c5bebe;
}

li {
    list-style-type: none;
    text-transform: uppercase;
    border-bottom: 0.5px solid whitesmoke;
    text-align: center;
    padding: 0.5rem 0;  
}

li:hover a {
    color: #fff;
    font-weight: bold;
}

li:hover {
    background-color:rgba(211, 211, 211, 0.822);
}

    /*-----sekce-----*/

h2 {
    font-family: 'Raleway', sans-serif;
}

section p, 
h2 {
    padding: 0 2rem 0 2rem;
}

p {
    margin-top: 0;
}

.decoration-blue {
    border-top: 5px solid rgb(0, 140, 255);
    width: 70px;
    margin-bottom: 1.5rem;   
}

.recommendation-second {
    margin-bottom: 3rem;
}

    /*---foto a fotogalerie---*/

.island img {  
    width: 100%;
    height: auto;
    margin-top: 2rem;
}

.recommendation .note {
    margin-bottom: 2rem;
}

.photogallery .decoration-blue {
    margin-bottom: 1rem;
}

.photo {
    padding-bottom: 1rem;
}

.note,
figcaption {
    text-align: center;
    text-decoration: none;
    font-size: 0.6rem;
    font-family: 'Raleway', sans-serif;
    color: #c5bebe;
    line-height: 1.2;
}

.photo img {
    margin-top: 1rem;
}

.note a,
.note-link a {
    font-family: 'Raleway', sans-serif;
    color: #c5bebe;
}

.note-caption {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #c5bebe;
    font-weight: 900;
    font-size: 0.7rem;
}

    /*---paticka---*/

footer {
    text-align: left;
    font-size: 0.5rem;
    color: #c5bebe;
    font-weight: 500;
    padding: 2rem 2rem 1rem 2rem;
}

footer a {
    color: #c5bebe;
    }


@media screen and (min-width: 550px) {

    /*---navigace---*/

ul {
    display: flex;
    flex-direction: row;
}

li {
    text-align: center;
    flex-grow: 1;
    justify-content: space-evenly;
    border-top: 0.5px solid whitesmoke;}

li a {
    font-size: 0.8rem;
}

ul li:nth-child(1),
ul li:nth-child(2),
ul li:nth-child(3) {
    border-right: 0.5px solid whitesmoke;
} 

    /*---foto---*/

.note {
    color: lightgrey;
    font-size: 0.5rem;
    position: relative;
    top: -2rem;
    text-align: right;
    padding:0.5rem;
}

.note a {
    color: lightgrey;
}
/*---fotogalerie---*/

.photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0;
}

.photogallery .decoration-blue {
    margin-bottom: 2rem;
}

.photo img {
    margin-top: 0;
}
    /*---efekt---*/

/*Rada bych se zeptala, jak udelat, aby se "efekt" prizpusoboval velikosti okna. Pri vetsim zvetseni mam totiz text maly. Děkuji*/


.imageWrapper {
    display: flex;
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
}

.imageWrapper img {
    transition: transform 1s ease;
}

.imageWrapper:hover img {
    transform: scale(1.2);
}

figcaption  {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0,0,0,1);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    padding: 0.2rem;
    line-height: 1.5;
}

.note-caption {
    font-size: 0.8rem;
    color: whitesmoke;
}

.note-link,
.note-link a {
    font-size: 0.6rem;
    color: lightgray;
}

.imageWrapper:hover figcaption {  
     opacity: 1;
     background:rgba(0,0,0, 0.5);
     height:30%;
}

}

/*---PC---*/

@media screen and (min-width: 850px) {

.island {
    max-width: 75%;
    margin: 0 auto;
    position: relative;
    top: -55px;
    display: flex;
    flex-direction: column;
    box-shadow: lightgrey 1px 1px 8px;
}
    /*---hlavicka---*/

header {
    padding: 2rem 12rem 2rem 12rem;
    height: 360px;
    background-position:top;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

    /*---navigace---*/

/*---Tady by mne zajimalo, jestli neni nejake elegantnejsi reseni, jak dat nav a prvni odstavec vedle sebe, prtz si myslim, ze muj zpusob neni uplne spravny. Zkousela jsem to pres float, ale nefungovalo mi to tak. Děkuji---*/

nav {
    display: flex;
    padding: 0;
    flex-basis: 70%;
    margin-right: 2.5rem;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.desktop {
    display: flex;
    flex-grow: 1;
    padding: 3rem 2rem 0 2rem;
}

.introduction p{
    padding: 0;
}

ul li:nth-child(1),
ul li:nth-child(2),
ul li:nth-child(3) {
    border-right: none;
    border-bottom: none;}

ul li:first-child{
    border-top: none}

nav a {
    font-size: 0.6rem;
    text-align: left;
}

    /*---sekce---*/

.recommendation p,
.recommendation h2,
.recommendation .decoration-blue
 {
    margin-left: 20%;
}

.reason p, 
.recommendation-second p {
    margin-right: 20%;
}

.reason p:last-child {
    margin: 0;
}

/*---Chtěla bych se zeptat - proč jsme muela pro reason p:last-child vynulovat margin, kdyz u ostatnich popisku toto nebylo treba. S nazila jsem se najit chybu, ale nepodarilo se mi to. dekuji---*/


    /*---fotogalerie---*/

.imageWrapper {
    display: flex;
    position: relative;
    flex-basis: calc(100%/3);
    overflow: hidden;
}

    /*---paticka---*/

footer {
    padding: 0;
    margin-left: 12.5%;
}

}